.modal {
  position: absolute;
  top: 62px;
  right: 0;
  z-index: 50;
  visibility: hidden;
  opacity: 0;
  padding: 10px 28px 20px;
  width: 381px;
  background-color: $color-white;
  transition: opacity $transition-duration;

  @include onTablet {
    position: absolute;
    top: 59px;
    right: 0;
  }

  @include onMobile {
    position: absolute;
    top: 50px;
    right: -40px;
    width: 90vw;
  }

  &--opener {
    visibility: visible;
    opacity: 1;
  }

  &__title {
    @extend %h3;
    color: $color-dark;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__closer {
    position: absolute;
    top: 0;
    right: 0;
    width: 41px;
    height: 41px;
    font-size: 24px;
    border: 1px solid transparent;
    background-color: $color-primary;
    color: $color-white;
    cursor: pointer;
  }

  &__card {
    margin: 0 auto;
  }

  &__submit {
    width: 100%;
    padding: 16px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    letter-spacing: 2.4px;
    border: 1px solid transparent;
    background-color: $color-secondary;
    color: $color-white;
    cursor: pointer;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-dark;
    padding: 25px 0 18px;

    .modal__title {
      margin-bottom: 0;
    }
  }

  &__text {
    font-size: 22px;
    font-weight: 900;
  }

  &__tax {
    display: block;
    @extend %text;
    color: inherit;
    text-align: center;
  }

  &__total {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      border-top: 1px solid $color-light-gray;
    }
  }
}
